<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Wo sisi?</title>
    
      <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">        
      <style>
          body {
  	        padding-top: 10px;
  	        padding-bottom: 0;
          }
      </style>
        
      <link rel="stylesheet" href="/css/main.css">
      <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
	<body>
		<div class="container">
			<h1>Where is Pat?</h1>
			<div class="social">
			    Find me on
			    <a href="http://www.facebook.com/public/Patric-Fornasier"><img src="images/facebook.png" alt="Facebook"></a>
				<a href="http://twitter.com/#!/patforna"><img src="images/twitter.png" alt="Twitter"></a>
			</div>			
			<div class="tweet">
				<ul>
					<li class="last-tweet">
						<span class="title">Last tweet:</span> <span class="value"><%= auto_link(@last_tweet.text) %></span> <span class="detail">| <%= ago_in_words(@last_tweet.created_at) %></span>
					</li>
					<li class="last-location">
						<span class="title">Last known location:</span>
						<span class="value"><%= @last_place.name %></span>
						<span class="detail">| <span class="latitude"><%= @last_place.latitude %></span>, <span class="longitude"><%= @last_place.longitude %></span></span>
						<span class="detail">| <%= ago_in_words(@last_place.visited_at) %></span>
					</li>					
				</ul>
			</div>
			<div id="map_canvas"></div>
		</div>
		<%= erb :javascript %>
	</body>
</html>
